@import '../../css/index.scss';

.promotion-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    &__item {
        width: 100%;
        border-radius: $border-radius;
        display: flex;
        overflow: hidden;
        padding: 24px;
        box-sizing: border-box;

        &--skeleton {
            height: 196px;
            background: $lazy-loader-color;
            animation: .8s infinite loading-blink;
        }

        & + & {
            margin-left: 20px;
        }
    }

    &__info,
    &__image-wrapper {
        width: 100%;
    }

    &__image-wrapper {
        position: relative;
    }

    &__image {
        position: absolute;
        bottom: -40px;
        height: auto;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__name {
        @extend %h5;
        color: $neutral-black;
        margin-bottom: 8px;
    }

    &__text {
        @extend %h2;
        text-transform: uppercase;
        margin-bottom: 36px;
    }

    &__category {
        @extend %body-primary;
        color: $neutral-gray;
    }
}

@media (max-width: $tablet-width) {
    .promotion-list {
        &__item {
            flex-direction: column-reverse;
            justify-content: space-between;
            padding-bottom: 0;

            &--skeleton {
                height: 330px;
            }
        }

        &__image {
            position: static;
        }

        &__name,
        &__category {
            order: 1;
            width: 50%;
        }

        &__name {
            margin-bottom: 0;
        }

        &__category {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__text {
            order: 2;
            width: 100%;
            margin-bottom: 12px;
        }

        &__info {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__image-wrapper {
            text-align: center;
        }
    }
}

@media (max-width: $mobile-width) {
    .promotion-list {
        flex-direction: column;

        &__item {
            margin-bottom: 20px;

            & + & {
                margin-left: 0;
            }
        }
    }
}