@import '../../../../css/index.scss';

.add-user-addresses {
    &__chapter {
        margin-bottom: 64px;
    }

    &__inputs {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__add-new-address-button {
        margin-left: auto;
    }
}

@media(max-width: $small-mobile-width) {
    .add-user-addresses {
        &__inputs {
            grid-template-columns: 1fr;
        }
    }
}