.cart {
    margin-bottom: 50px;

    &__wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
    }

    &__block-item {
        padding: 16px;
        border: 1px solid $neutral-gray-lightest;
        border-radius: $border-radius;
    }

    &__block-item-title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    &__block-item-title-text {
        @extend %h6;
        color: $neutral-black;
        margin-right: 8px;
    }

    &__block-item-title-counter {
        @extend %small-secondary;
        color: $neutral-black;
    }

    &__list-item {
        display: flex;
        align-items: center;

        &:not(&:last-of-type) {
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid $neutral-gray-lightest;
        }
    }

    &__item-image {
        border-radius: 12px;
        margin-right: 12px;
        width: 76px;
        height: 76px;
        flex-shrink: 0;
        background-size: cover;
        background-position: center;
    }

    &__item-name {
        @extend %subtitle-primary;
        color: $neutral-black;
        margin-bottom: 4px;
        text-decoration: none;
    }

    &__item-description {
        @extend %body-primary;
        color: $neutral-gray-dark;
        margin: 0;
        max-width: 320px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;
    }

    &__item-price {
        @extend %h6;
        color: $neutral-black;
        margin-left: auto;
    }

    &__item-controls {
        display: flex;
        align-items: center;
    }

    &__item-product-info {
        margin-right: auto;
    }

    &__item-remove {
        display: flex;
        margin-left: 24px;
    }

    .icon {
        width: 20px;
        height: 20px;
        fill: $neutral-gray-light;
    }

    .quantity {
        display: flex;
        align-items: center;
        user-select: none;
        margin-right: 52px;

        &__decrease,
        &__value,
        &__increase {
            @extend %subtitle-primary;
            color: $neutral-black;
        }

        &__decrease,
        &__increase {
            border-radius: 8px;
            font-size: 20px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $neutral-gray-lightest;
            cursor: pointer;
        }

        &__decrease {
            margin-right: 8px;
            transition: opacity 0.2s ease-in-out;

            &--disabled {
                opacity: 20%;
                pointer-events: none;
            }
        }

        &__value {
            margin-right: 8px;
        }
    }
}