.deals-list {
    margin-bottom: 30px;

    &__title {
        @extend %h5;
        color: $neutral-black;
        margin-bottom: 16px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        @media (max-width: $wide-tablet-width) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $small-mobile-width) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}