.user-orders {
    margin-bottom: 20px;
    border-radius: $border-radius;
    border: 1px solid $neutral-gray-lightest;

    &__header,
    &__table {
        display: grid;
        grid-template-columns: 0.5fr repeat(5, 1fr);
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid $neutral-gray-lightest;
    }

    &__header {
        background: $neutral-background;
        border-radius: $border-radius $border-radius 0 0;
    }

    &__table {
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: $neutral-background;

            .user-orders__table-item--total-amount {
                color: $primary-default;
            }
        }

        &:last-of-type {
            border-bottom: none;
            border-radius: 0 0 $border-radius $border-radius;
        }
    }

    &__header-item {
        @extend %small-secondary;
        color: $neutral-gray;

        &:last-of-type {
            text-align: right;
        }
    }

    &__table-item {
        @extend %body-primary;
        color: $neutral-gray-dark;
        margin-right: 12px;

        &--link {
            @extend %small-secondary;
            padding: 6px 12px;
            background: $neutral-gray-lightest;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            cursor: pointer;
            transition: background 0.2s ease-in-out;

            &:hover {
                background: $neutral-gray-light;
            }

            &:active {
                background: $neutral-gray;
            }
        }

        &--status {
            @extend %subtitle-secondary;
            color: $neutral-black;
            text-transform: capitalize;
            display: flex;
            align-items: center;
        }

        &--total-amount {
            @extend %subtitle-primary;
            color: $neutral-black;
            text-align: right;
        }
    }

    &__status {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        margin-right: 8px;
        background: $neutral-gray;

        &--in {
            background: $primary-default;
        }

        &--completed {
            background: $success-default;
        }

        &--canceled {
            background: $error-default;
        }
    }
}