@import '../../../../css/index.scss';

.logo {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 24px;
    line-height: 1;

    &__primary {
        margin-bottom: 4px;

        &--black {
            color: $neutral-black;
        }

        &--white {
            color: $neutral-white;
        }
    }

    &__secondary {
        color: $primary-default;
    }
}