.user-addresses {
    &__list {
        display: flex;
        overflow-x: auto;
        padding-bottom: 12px;
    }

    &__list-item {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid $neutral-gray-light;
        margin-right: 16px;
        width: 335px;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &--selected {
            border-color: $primary-default;
        }

        &:hover {
            border-color: $primary-hover;
        }
    }

    &__map-wrapper {
        margin-right: 12px;
        flex-shrink: 0;
        overflow: hidden;
    }

    &__item-title {
        display: flex;
        justify-content: space-between;
    }

    &__city {
        @extend %subtitle-primary;
        color: $neutral-black;
    }

    &__state {
        @extend %small-secondary;
        color: $neutral-gray;
        margin-bottom: 8px;
    }

    &__address {
        @extend %body-secondary;
        color: $neutral-gray-dark;
    }

    &__info {
        width: 100%;
    }

    &__inputs {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__add-new-address-button {
        margin-left: auto;
    }

    .dots-icon {
        width: 16px;
        height: 16px;
    }

    ymaps {
        border-radius: $border-radius;
    }
}