@import '../../css/index.scss';

.cart {
    margin-bottom: 50px;

    &__wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
    }

    &__block-item {
        padding: 16px;
        border: 1px solid $neutral-gray-lightest;
        border-radius: $border-radius;
    }

    &__block-item-title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    &__block-item-title-text {
        @extend %h6;
        color: $neutral-black;
        margin-right: 8px;
    }

    &__block-item-title-counter {
        @extend %small-secondary;
        color: $neutral-black;
    }
}

.cart-shipping-address {
    box-sizing: border-box;
    margin-bottom: 30px;

    .user-addresses {
        &__list {
            margin-top: 12px;
            flex-direction: column;
        }

        &__list-item {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

    &__button {
        text-decoration: none;
        text-align: center;
    }
}

@media (max-width: $tablet-width) {
    .cart {
        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__controls {
            display: flex;
            align-items: flex-start;
        }
    }

    .user-addresses {
        &__list-item {
            width: 100%;
        }
    }

    .cart-shipping-address {
        margin-right: 14px;
        width: 50%;
    }
}

@media (max-width: $mobile-width) {
    .cart {
        &__controls {
            flex-direction: column;
        }
    }

    .cart-shipping-address {
        margin-right: 0;
        width: 100%;
    }
}