@import '../../css/index.scss';

.registration {
    display: grid;
    grid-template-columns: 40% 60%;

    &__demo {
        box-sizing: border-box;
        padding: 40px 160px;
        background: $primary-hover;
        position: relative;
        height: 100vh;
        overflow: hidden
    }

    &__description {
        @extend %h3;
        color: $neutral-white;
        margin-top: 120px;
        margin-bottom: 16px;
    }

    &__text {
        @extend %body-primary;
        color: $neutral-white;
    }

    &__image {
        position: absolute;
        top: 60%;
        left: -30%;
        transform: rotate(15deg);
        box-shadow: 0px -70px 120px rgba(49, 57, 120, 0.24);
        border-radius: 20px;
    }

    &__details {
        box-sizing: border-box;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 20px 120px;
    }

    &__title {
        @extend %h1;
        margin-bottom: 16px;
    }

    &__subtitle {
        @extend %body-primary;
        color: $neutral-gray-dark;
        margin-bottom: 32px;
    }
}