@import '../../css/index.scss';

.categories-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    margin-bottom: 40px;

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        outline: 1px solid $neutral-gray-lightest;
        cursor: pointer;
        padding: 14px 0;
        width: 100%;
        border-radius: 16px;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;

        &--selected {
            outline: 2px solid $primary-default;
            background: $primary-light;
            color: $primary-default;
        }

        &:hover,
        &:focus {
            outline-color: $primary-hover;
            background: $primary-lightest;
        }
    }

    &__image {
        margin: 0 auto 12px auto;
    }

    &__name {
        @extend %small-primary;
    }

    &__skeleton-item {
        background: $lazy-loader-color;
        height: 82px;
        border-radius: 16px;
        animation: .8s infinite loading-blink;
    }

    @media (max-width: $small-mobile-width) {
        grid-template-columns: repeat(3, 1fr);
    }
}