@import '../../../../css/index.scss';

.header {
    border-bottom: 1px solid $neutral-gray-lightest;
    margin-bottom: 24px;
    padding: 20px 0;

    &__wrapper {
        display: flex;
        align-items: center;
        padding: 20px 16px;
    }

    &__icon-wrapper {
        display: none;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        fill: $neutral-gray;
        border-radius: $border-radius;
        background: $neutral-gray-lightest;
    }

    .cross-icon,
    .hamburger-icon {
        width: 16px;
        height: 16px;
    }

    .logo {
        margin-right: 60px;
    }

    .search {
        margin-right: auto;
    }
}

@media (max-width: $tablet-width) {
    .header {
        .menu__text,
        .search {
            display: none;
        }

        .menu {
            padding-right: 16px;
            margin-right: 16px;
            border-right: 1px solid $neutral-gray-lightest;
        }

        .logo {
            margin-right: auto;
        }

        &__icon-wrapper {
            display: flex;
        }

        &__title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
        }

        &--mobile {
            margin: 0;
            top: 0;
            border: none;
            position: fixed;
            background: $neutral-white;
            width: 100%;
            z-index: 1;
            box-sizing: border-box;
            box-shadow: 0px 20px 56px rgba(43, 43, 67, 0.4);

            .header__wrapper {
                display: block;
            }

            .menu {
                border: none;
                margin: 0;

                &__text {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    text-align: center;
                    border-bottom: 1px solid $neutral-gray-lightest;
                    margin-bottom: 24px;
                }

                &__text-item {
                    font-weight: 800;
                    font-size: 24px;
                    margin-bottom: 24px;
                    margin-right: 0;

                    &:last-of-type::before {
                        content: "";
                        margin: 0;
                    }
                }

                &__cart,
                &__user {
                    display: none;
                }
            }

            .search {
                display: grid;
                width: 100%;
            }
        }
    }
}