.user-personal-information {
    &__content-title {
        @extend %h6;
        color: $neutral-black;
        margin-bottom: 16px;
    }

    &__chapter {
        margin-bottom: 64px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__label {
        @extend %small-secondary;
        color: $neutral-gray-dark;
        margin-bottom: 8px;
        display: block;
    }

    &__image-controls {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__user-image {
        border-radius: $border-radius;
        margin-right: 20px;
        width: 88px;
        height: 88px;
        background-position: center;
        background-size: cover;
    }

    &__cnahge-button {
        margin-right: 20px;
    }

    &__textareas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px 16px;
    }

    &__controls {
        padding-top: 24px;
        border-top: 1px solid $neutral-gray-lightest;
        display: flex;

        .button {
            margin-right: 16px;

            &:first-of-type {
                margin-right: auto;
            }
        }
    }
}