.enhanced-deals {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: $neutral-gray-lightest;
        border-radius: $border-radius;
        margin-bottom: 20px;
    }

    &__tab-item {
        @extend %subtitle-primary;
        color: $neutral-gray-dark;
        padding: 18px 20px;
        width: 100%;
        text-align: center;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border-radius: 14px;
        text-transform: capitalize;

        &:hover {
            opacity: 70%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        &--selected {
            color: $neutral-white;
            background: $neutral-black;
        }
    }
}