@import '../../../../css/index.scss';

.promotion-list-item {
    width: 100%;
    border-radius: $border-radius;
    display: flex;
    overflow: hidden;
    padding: 24px;
    box-sizing: border-box;

    & + & {
        margin-left: 20px;
    }

    &__info,
    &__image-wrapper {
        width: 100%;
    }

    &__image-wrapper {
        position: relative;
    }

    &__image {
        position: absolute;
        bottom: -40px;
        height: auto;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__name {
        @extend %h5;
        color: $neutral-black;
        margin-bottom: 8px;
    }

    &__text {
        @extend %h2;
        text-transform: uppercase;
        margin-bottom: 36px;
    }

    &__category {
        @extend %body-primary;
        color: $neutral-gray;
    }

    @media (max-width: $tablet-width) {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-bottom: 0;

        &__image {
            position: static;
        }

        &__name,
        &__category {
            order: 1;
            width: 50%;
        }

        &__name {
            margin-bottom: 0;
        }

        &__category {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__text {
            order: 2;
            width: 100%;
            margin-bottom: 12px;
        }

        &__info {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__image-wrapper {
            text-align: center;
        }
    }

    @media (max-width: $mobile-width) {
        margin-bottom: 20px;

        & + & {
            margin-left: 0;
        }
    }
}