.reustorant-detail-page {
    margin-bottom: 24px;
    margin-top: -24px;

    &__header {
        background: $neutral-background;
    }

    &__image-and-info {
        display: flex;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 24px 0;
    }

    &__image {
        border-radius: $border-radius;
        margin-right: 30px;
        width: 160px;
        height: 160px;
        background-size: cover;
        background-position: center;
        flex-shrink: 0;
    }

    &__name {
        @extend %h2;
        color: $neutral-black;
        margin-bottom: 4px;
    }

    &__description {
        @extend %body-primary;
        color: $neutral-black;
        margin-right: 120px;
    }

    &__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
    }

    &__map {
        overflow: hidden;
    }

    ymaps {
        border-radius: 12px;
    }

    &--skeleton &__header,
    &--skeleton &__content div {
        background: #f6f6f6;
        animation: .8s infinite loading-blink;
        margin-bottom: 30px;
        border-radius: 16px;
    }

    &--skeleton &__header {
        height: 278px;
    }

    &--skeleton &__content div {
        height: 690px;
    }
}

@media (max-width: $wide-tablet-width) {
    .reustorant-detail-page {
        &__wrapper {
            flex-wrap: wrap;
            padding: 40px;
            width: 100%;
            box-sizing: border-box;
        }

        &__map-wrapper {
            margin-top: 32px;
        }

        &__description {
            margin-right: 0;
        }

        &__map {
            width: calc(100vw - 80px) !important;
        }

        &__content {
            grid-template-columns: 1fr;
            width: auto;
        }
    }
}