.reustorant-detail-page {
    margin-bottom: 24px;

    &__header {
        background: $neutral-background;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 24px 0;
    }

    &__image {
        border-radius: $border-radius;
        margin-right: 30px;
    }

    &__name {
        @extend %h2;
        color: $neutral-black;
        margin-bottom: 4px;
    }

    &__description {
        @extend %body-primary;
        color: $neutral-black;
        margin-right: 120px;
    }

    &__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
    }

    ymaps {
        border-radius: 12px;
    }
}