@import '../../css/index.scss';

.navigation {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    margin-bottom: 24px;
    text-decoration: none;

    &__text {
        @extend %small-primary;
        color: $neutral-gray-dark;
    }

    .icon {
        width: 12px;
        height: 12px;
        fill: $neutral-gray-dark;
        margin-right: 16px;
    }

    &:hover {
        opacity: 60%;
    }
}