@import '../../css/index.scss';

.quantity {
    display: flex;
    align-items: center;
    margin-right: 24px;
    user-select: none;

    &__decrease,
    &__value,
    &__increase {
        @extend %subtitle-primary;
        color: $neutral-black;
        user-select: none;
    }

    &__decrease,
    &__increase {
        border-radius: 8px;
        font-size: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $neutral-gray-lightest;
        cursor: pointer;
    }

    &__decrease {
        margin-right: 8px;
        transition: opacity 0.2s ease-in-out;

        &--disabled {
            opacity: 20%;
            pointer-events: none;
        }
    }

    &__increase {
        margin-left: 8px;
    }
}