.header {
    border-bottom: 1px solid $neutral-gray-lightest;
    margin-bottom: 24px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 48px;
    }
}