@import '../../css/index.scss';

.no-found {
    padding: 16px;
    margin: 16px 0;

    border: 1px solid $neutral-gray-lightest;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__image {
        text-align: center;
        margin-right: 32px;
    }

    &__info {
        max-width: 600px;
    }

    &__title {
        @extend %h3;
        text-align: center;
    }

    &__text {
        text-align: center;
    }
}