.statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    &__item {
        display: flex;
        align-items: center;
        border: 1px solid $neutral-gray-lightest;
        border-radius: $border-radius;
        padding: 16px;
    }

    &__icon-wrapper {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        margin-right: 16px;

        &--orang {
            background: $secondary-light;
            fill: $secondary-default;
        }

        &--purple {
            background: $tertiary-light;
            fill: $tertiary-default;
        }

        &--blue {
            background: $primary-light;
            fill: $primary-default;
        }
    }

    &__value-and-growth {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__value {
        @extend %h6;
        color: $neutral-black;
    }

    &__growth {
        @extend %subtitle-secondary;
        color: $success-default;
        display: flex;
    }

    &__title {
        @extend %body-secondary;
        color: $neutral-gray;
    }

    &__growth-icon {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background: $success-light;
        font-size: 10px;
        margin-right: 8px;
    }

    &__wrapper {
        width: calc(100% - 60px);
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}