.reustorant-menu {
    &__label {
        @extend %h5;
        color: $neutral-black;
        margin-bottom: 16px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__item {
        border: 1px solid $neutral-gray-lightest;
        border-radius: $border-radius;
        padding: 16px;
    }

    &__image {
        width: 100%;
        height: 180px;
        border-radius: $border-radius;
        margin-bottom: 12px;
    }

    &__name {
        @extend %h6;
        color: $neutral-black;
        margin-bottom: 4px;
        text-decoration: none
    }

    &__description {
        @extend %body-secondary;
        color: $neutral-gray;
        margin: 0 0 12px 0;
    }

    &__price {
        @extend %h4;
        color: $neutral-black;
    }

    &__control {
        display: flex;
        justify-content: space-between;
    }

    &__icon-wrapper {
        width: 32px;
        height: 32px;
        border-radius: 12px;
        background: $primary-light;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: $primary-thirty;
        }

        &:active {
            background: $primary-hover;
        }
    }

    .plus-icon {
        width: 12px;
        height: 12px;
        fill: $primary-default;
    }
}

@media (max-width: $mobile-width) {
    .reustorant-menu {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
}