$primary-font-family: 'Nunito', sans-serif;
$border-radius: 16px;

@keyframes loading-blink {
    0% {
        opacity: .5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}
