.button {
    @extend %button-primary;
    cursor: pointer;
    color: $primary-default;
    border: 1px solid $primary-default;
    padding: 12px 16px;
    border-radius: 8px;
    background: transparent;
    transition: all 0.2s ease-in-out;
    display: block;

    &--contained {
        color: $neutral-white;
        background: $primary-default;
        box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);

        &:hover {
            background: $primary-hover;
            box-shadow: 0px 12px 20px rgba(102, 120, 255, 0.24);
        }

        &:active {
            background: $primary-dark;
            box-shadow: 0px 4px 12px rgba(58, 76, 235, 0.2);
        }
    }

    &--contained-light-blue {
        border: none;
        background: $primary-light;
        color: $primary-default;

        &:hover {
            background: $primary-hover;
            color: $neutral-white;
        }

        &:active {
            background: $primary-dark;
        }
    }

    &--outlined-blue {
        &:hover {
            background: $primary-default;
            color: $neutral-white;
        }

        &:active {
            background: $primary-dark;
        }
    }

    &--outlined-red {
        color: $error-default;
        border-color: $error-default;

        &:hover {
            background: $error-default;
            color: $neutral-white;
        }

        &:active {
            background: $error-dark;
            color: $neutral-white;
        }
    }

    &--outlined-gray {
        color: $neutral-gray;
        border-color: $neutral-gray;

        &:hover {
            background: $neutral-gray;
            color: $neutral-white;
        }

        &:active {
            background: $neutral-gray-dark;
            color: $neutral-white;
        }
    }

    &--text-gray {
        border: none;
        color: $neutral-gray;

        &:hover {
            background: $neutral-background;
        }

        &:active {
            background: $neutral-gray-lightest;
        }
    }

    &--disabled {
        color: $neutral-gray-light;
        border-color: $neutral-gray-lightest;
        opacity: 50%;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
}