$primary-default: #4E60FF;
$primary-hover: #697BFF;
$primary-dark: #3A4CEB;
$primary-light: #F3F4FF;
$primary-lightest: #F8F9FF;
$primary-thirty: #CACFFF;

$secondary-default: #FD6D22;
$secondary-light: #FFF3ED;

$tertiary-default: #8C3EEE;
$tertiary-light: #F6F0FE;

$neutral-black: #2B2B43;
$neutral-gray: #83859C;
$neutral-gray-light: #C7C8D2;
$neutral-gray-lightest: #EDEEF2;
$neutral-gray-dark: #545563;
$neutral-white: #FFF;
$neutral-background: #F7F7F9;

$success-default: #1ABF70;
$success-light: #E8F9F1;

$error-default: #FF5C60;
$error-dark: #E13E42;