$primary-default: #4E60FF;
$primary-hover: #697BFF;
$primary-dark: #3A4CEB;
$primary-light: #F3F4FF;
$primary-lightest: #F8F9FF;
$primary-thirty: #CACFFF;

$secondary-default: #FD6D22;

$neutral-black: #2B2B43;
$neutral-gray: #83859C;
$neutral-gray-light: #C7C8D2;
$neutral-gray-lightest: #EDEEF2;
$neutral-white: #FFF;

$success-default: #1ABF70;

$error-default: #FF5C60;