$primary-default: #4E60FF;
$primary-hover: #697BFF;
$primary-dark: #3A4CEB;
$primary-light: #F3F4FF;
$primary-lightest: #F8F9FF;
$primary-thirty: #CACFFF;

$neutral-black: #2B2B43;
$neutral-gray: #83859C;
$neutral-gray-lightest: #EDEEF2;
$neutral-white: #FFF;