@import '../../../../css/index.scss';

.categories-list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    outline: 1px solid $neutral-gray-lightest;
    cursor: pointer;
    padding: 14px 0;
    width: 100%;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;

    &--selected {
        outline: 2px solid $primary-default;
        background: $primary-light;
        color: $primary-default;
    }

    &:hover,
    &:focus {
        outline-color: $primary-hover;
        background: $primary-lightest;
    }

    &__image {
        margin: 0 auto 12px auto;
    }

    &__name {
        @extend %small-primary;
    }

    &--small {
        pointer-events: none;
        flex-direction: row;
        align-items: center;
        border-radius: 100px;
        background: $neutral-gray-lightest;
        padding: 6px 10px;
        width: auto;
        margin-right: 8px;
    }

    &--small &__image {
        width: 14px;
        height: 14px;
        margin: 0 8px 0 0;
    }

    &--small &__name {
        @extend %small-secondary;
        color: $neutral-gray-dark;
    }
}