.reustorants-list-counter {
    @extend %small-secondary;
    color: $neutral-gray-dark;
    margin-bottom: 12px;
}

.reustorants-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 32px;

    @media (max-width: $tablet-width) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $small-mobile-width) {
        grid-template-columns: repeat(1, 1fr);
    }

    &__item {
        position: relative;
        border: 1px solid $neutral-gray-lightest;
        border-radius: $border-radius;
        text-decoration: none;
        color: initial;
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow: 0px 7px 20px -8px rgb(157 157 163 / 10%);
            transform: translateY(-12px);
        }
    }

    &__image {
        border-radius: $border-radius $border-radius 0 0;
        height: 160px;
    }

    &__info {
        padding: 16px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    &__name {
        @extend %h6;
        color: $neutral-black;
        text-decoration: none;
    }

    &__label {
        @extend %caption;
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
        color: $neutral-white;
        padding: 8px 16px;
        border-radius: 0 $border-radius;
        background: $primary-default;
    }

    &__load-more-button {
        margin: 0 auto 64px auto;
    }

    &__skeleton-item {
        background: #f6f6f6;
        height: 264px;
        border-radius: 16px;
        animation: .8s infinite loading-blink;
    }

    &__categories {
        display: flex;
        margin-top: 14px;

        .categories-list {
            &__item {
                pointer-events: none;
                flex-direction: row;
                align-items: center;
                border-radius: 100px;
                background: $neutral-gray-lightest;
                padding: 6px 10px;
                width: auto;
                margin-right: 8px;
            }

            &__image {
                width: 14px;
                height: 14px;
                margin: 0 8px 0 0;
            }

            &__name {
                @extend %small-secondary;
                color: $neutral-gray-dark;
            }
        }
    }

    .cart-icon {
        width: 20px;
        height: 20px;
        fill: $neutral-gray-light;
    }
}