.filters {
    display: flex;
    margin-bottom: 32px;
    padding-bottom: 12px;
    overflow-x: auto;
    position: relative;

    &__item {
        @extend %button-secondary;
        padding: 6px 12px;
        border-radius: $border-radius;
        border: 1px solid $neutral-gray-light;
        text-transform: uppercase;
        color: $neutral-gray;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        white-space: nowrap;

        & + & {
            margin-left: 20px;
        }

        &:hover {
            color: $primary-default;
            border-color: $primary-default;
        }
    }

    &__transparent-separator {
        position: absolute;
        display: block;
        height: 100%;
        width: 70px;
        right: 0;
        background: linear-gradient(90deg, transparent, $neutral-white 50%);
    }
}