.filters {
    display: flex;
    margin-bottom: 32px;
    padding-bottom: 12px;
    overflow-x: clip;
    overflow-y: visible;
    position: relative;

    &__item-wrapper {
        display: flex;
        position: relative;

        & + & {
            margin-left: 20px;
        }
    }

    &__dropdown {
        background: $neutral-white;
        border: 1px solid $neutral-gray-lightest;
        box-shadow: 0px 12px 24px rgba(43, 43, 67, 0.16);
        border-radius: 16px;
        padding: 16px;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 1;
        width: max-content;
        transition: all 0.4s ease-in-out;
        z-index: 1;

        &--hidden {
            opacity: 0;
            top: 0;
        }
    }

    &__range-slider-wrapper {
        margin-bottom: 12px;
    }

    &__dropdown-controls {
        display: flex;
    }

    &__dropdown-label {
        @extend %small-secondary;
        display: block;
        color: $neutral-gray;
        margin-bottom: 12px;
    }

    &__item {
        @extend %button-secondary;
        padding: 6px 12px;
        border-radius: $border-radius;
        border: 1px solid $neutral-gray-light;
        text-transform: uppercase;
        color: $neutral-gray;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        white-space: nowrap;
        z-index: 2;

        &:hover,
        &--active {
            color: $primary-default;
            border-color: $primary-default;
        }

        &--active {
            background: $primary-light;
        }
    }

    &__transparent-separator {
        position: absolute;
        display: block;
        height: 100%;
        width: 70px;
        right: 0;
        background: linear-gradient(90deg, transparent, $neutral-white 50%);
    }

    .input-wrapper + .input-wrapper {
        margin-left: 16px;
    }
}