.user-profile {
    display: grid;
    grid-template-columns: 350px auto;
    grid-gap: 30px;
    margin-bottom: 24px;

    &__tabs {
        display: flex;
        flex-direction: column;
    }

    &__tab-item {
        border-radius: $border-radius;
        outline: 1px solid $neutral-gray-lightest;
        padding: 16px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover,
        &--active {
            background: $primary-light;
            outline: 2px solid $primary-default;

            .user-profile {
                &__tab-icon-wrapper {
                    background: $primary-default;

                    .icon {
                        fill: $neutral-white;
                    }

                    .shield-icon {
                        stroke: $neutral-white;
                    }
                }
            }
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
    }

    &__tab-icon-wrapper {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background: $neutral-gray-lightest;
        margin-right: 12px;
        transition: background 0.2s ease-in-out;

        .icon {
            width: 20px;
            height: 20px;
            fill: $neutral-gray;
            transition: all 0.2s ease-in-out;
        }

        .shield-icon {
            stroke: $neutral-gray;
        }
    }

    &__tab-info {
        display: flex;
        flex-direction: column;
    }

    &__tab-title {
        @extend %subtitle-primary;
        color: $neutral-black;
    }

    &__tab-subtitle {
        @extend %body-secondary;
        color: $neutral-gray-dark;
    }

    .user-profile-block-title {
        @extend %h6;
        color: $neutral-black;
        margin-bottom: 16px;
    }

    .user-profile-content {
        border-radius: $border-radius;
        border: 1px solid $neutral-gray-lightest;
        padding: 24px 16px;
    }

    .user-profile-chapter {
        margin-bottom: 64px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}