.reustorant-delivery-info {
    @extend %small-secondary;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $neutral-gray;

    &__separator {
        width: 4px;
        height: 4px;
        background: $primary-default;
        border-radius: 50%;
    }

    .clock-icon {
        width: 12px;
        height: 12px;
        fill: $neutral-gray-light;
    }
}