@import '../../../../../../css/index.scss';

.search {
    @extend %body-primary;
    display: inline-block;
    position: relative;
    height: max-content;

    &__input {
        background: $neutral-gray-lightest;
        border: none;
        outline: none;
        border-radius: 12px;
        padding: 10px 42px 12px 10px;
        color: $neutral-black;

        &::placeholder {
            color: $neutral-gray;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }
    }

    &__icon {
        cursor: pointer;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
    }

    .search-icon {
        fill: $neutral-gray;
    }
}