.deals-list-item {
    border: 1px solid $neutral-gray-lightest;
    border-radius: $border-radius;
    padding: 16px;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title-and-status {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        width: 100%;
    }

    &__title {
        @extend %subtitle-primary;
        color: $neutral-black;
    }

    &__status {
        @extend %small-secondary;
        padding: 4px 8px;
        margin-bottom: 12px;
        border: 1px solid;
        border-radius: 100px;
        text-transform: capitalize;
        width: min-content;

        &--active {
            border-color: $success-default;
            color: $success-default;
        }

        &--scheduled {
            border-color: $secondary-default;
            color: $secondary-default;
        }

        &--expired {
            border-color: $error-default;
            color: $error-default;
        }
    }

    &__separator {
        width: 100%;
        height: 1px;
        background: $neutral-gray-lightest;
        margin: 12px 0;
    }

    &__image {
        width: 100%;
        max-width: 112px;
        height: 92px;
        border-radius: 12px;
    }

    &__info-item {
        margin-bottom: 16px;
    }

    &__info-item-title {
        @extend %small-secondary;
        display: flex;
        align-items: center;
        color: $neutral-gray;
        fill: $neutral-gray;
        margin-bottom: 4px;
    }

    &__info-item-content {
        @extend %body-secondary;
        color: $neutral-black;
    }

    &--skeleton {
        box-sizing: border-box;
        height: 273px;
        background: #f6f6f6;
        animation: .8s infinite loading-blink;
    }

    .calendar-icon,
    .geo-icon {
        width: 12px;
        height: 12px;
        margin-right: 6px;
    }
}